*{
    
    margin:0; 
}

.nav ul{
    background-color: cornsilk;
    display: flex;
    margin: 0px;
    list-style-type: none;
    font-size: 20px;
    padding: 30px;
}

nav li{
    float: right;
}
.nav a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;

}

.nav a:hover{
    background-color: rgb(230, 227, 227);
}

.hero{
    background-color: aquamarine;
    background-image:url(3D.webp);
    background-position: center;
    background-size: auto;
    padding-top: 5%;
    padding-bottom: 200px;
}

.hero-content h2{
    color: black;
    font-size: 60px;
    width: 48%;
    height: 45%;
    text-align: center;

    
}

.hero-content p{

}